@import "tailwindcss";

@theme {
  --color-background: #030303;
  --color-foreground: #ededed;
  
  --color-monad-purple: #836EFB;
  --color-monad-purple-light: #A394FF;
  --color-obsidian: #030303;
  --color-obsidian-light: #0A0A0A;
  --color-success: #00FFA3;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #030303;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
